<?php
{{#models}}
{{#model}}
/**
 * {{classname}}
 *
 * PHP version >=5.5
 *
 * @category Class
 * @package  {{invokerPackage}}
 */

namespace {{modelPackage}};

/**
 * {{classname}} Class Doc Comment
 *
 * @category    Class
{{#description}}
 * @description {{description}}
{{/description}}
 */
{{#isEnum}}{{>model_enum}}{{/isEnum}}{{^isEnum}}{{>model_generic}}{{/isEnum}}
{{/model}}{{/models}}
